/* * {
  border: 1px solid red;
} */

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* .card-container {
  overflow: clip;
}

.slide {
  width: 99%;
  position: relative; 
} */
